<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Accueil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <img src="../../../assets/img/autotractorHome.jpg" alt="image" class=".image">
            <ion-card-subtitle>Talatamaty</ion-card-subtitle>
            <ion-card-title>Auto Tractor</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Agent de MADAUTO est le concessionnaire à Fianarantsoa.</p>
            <p>Téléphone: 034 75 509 01</p>
            <p>Ouvert: 08:00 - Ferme: 18:00</p>
        </ion-card-content>
    </ion-card>

    <ion-item>

        <ion-input></ion-input>
    </ion-item>
    <!--
    <!-- Localisation de mon position Button
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="loadMap()" shape="round" fill="outline">
            <ion-icon name="locate"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-card>
        <div class="map-wrapper">
            <div id="map_center">
                <!--<img src="../../../assets/icon/center_marker.jpg" />
            </div>
            <div #map id="map"></div>
        </div>
        <div id="address">
            <span>{{address}}</span>
        </div>
    </ion-card>
    -->
</ion-content>
