<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content onreset>
  <ion-card class="ion-no-padding ion-no-margin" style="border: none; border-radius: unset;" no-margin>
    <ion-card-header color="primary">
      <ion-avatar item-start>
        <ion-img [src]="userConnectedPage.urlImage" alt="profilImage"></ion-img>
        <ion-buttons *ngIf="action" color="primary" style="position: relative; top: -32px; left: 62%;">
          <ion-button>
            <ion-input type="file" accept="image/*" (change)="changeListener($event)" style="opacity: 0;position: absolute" >
            </ion-input>
            <ion-icon name="camera" style="width: 28px; height: 28px; border: 2px solid #0bb8cc; border-radius: 28px;" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-avatar>
      <ion-card-title style="margin-top: 10px;" text-center> {{userConnectedPage.firstName}} {{userConnectedPage.name}} </ion-card-title>
      <ion-card-subtitle text-center>{{userConnectedPage.login}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-list *ngIf="!action">
    <ion-item>
      <!--ion-icon [name]="genderIcon" style="margin-right: 30px;"></ion-icon-->
      <ion-icon name="transgender" style="margin-right: 30px;"></ion-icon>
      <ion-text>{{userConnectedPage.gender}} </ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="pin" style="margin-right: 30px;"></ion-icon>
      <ion-text>{{userConnectedPage.location}} </ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="person" style="margin-right: 30px;"></ion-icon>
      <ion-text>{{userConnectedPage.cin}}</ion-text>
    </ion-item>
  </ion-list>

  <form *ngIf="action" (ngSubmit)="onSubmitUpdateUser(fEditUser)"  #fEditUser="ngForm">
    <ion-list inset>
      <ion-item class="ion-no-padding">
        <ion-label>Nom: </ion-label>
        <ion-input type="text"
                   placeholder="Nom"
                   id="nameUser"
                   name="nameUser"
                   [(ngModel)]="userConnectedPage.name"
                   required>
        </ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label>Prénom(s): </ion-label>
        <ion-input type="text"
                   placeholder="Prénom(s)"
                   id="firstNameUser"
                   name="firstNameUser"
                   [(ngModel)]="userConnectedPage.firstName">
        </ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label>N° CIN : </ion-label>
        <ion-input type="text"
                   placeholder="N° Carte d'Identité National"
                   pattern="([0-9]{12})"
                   id="cinUser"
                   name="cinUser"
                   minlength="12"
                   maxlength="12"
                   [(ngModel)]="userConnectedPage.cin"
                   required>
        </ion-input>
      </ion-item>


      <ion-radio-group (ionChange)="setSexeValue($event)">
        <ion-list-header>
          <ion-label>Sexe</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-icon name="male" style="margin-right: 30px;"></ion-icon>
          <ion-label>Masculin</ion-label>
          <ion-radio slot="start" value="Masculin" [checked]="userConnectedPage.gender === 'Masculin'"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-icon name="female" style="margin-right: 30px;"></ion-icon>
          <ion-label>Feminin</ion-label>
          <ion-radio slot="start" value="Feminin" [checked]="userConnectedPage.gender === 'Feminin'"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item class="ion-no-padding">
        <ion-label floating><ion-icon name="pin" class="iconRegister"></ion-icon></ion-label>
        <ion-input type="text"
                   placeholder="votre addresse"
                   id="addressUser"
                   name="addressUser"
                   [(ngModel)]="userConnectedPage.location"
                   required>
        </ion-input>
      </ion-item>
      <ion-button type="submit"
                  style="width: 100%;"
                  [disabled]="fEditUser.invalid"
                  >
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-list>
  </form>

</ion-content>

<ion-fab *ngIf="!action" vertical="bottom" horizontal="end" slot="fixed" (click)="setEditAction()">
  <ion-fab-button>
    <ion-icon name="create"></ion-icon>
  </ion-fab-button>
</ion-fab>

