<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Voitures Achetées</ion-title>
  </ion-toolbar>
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let car of cars">
      <ion-card *ngIf="car.status === userConnectedPage.login">
        <ion-card-header no-padding>
          <ion-img [src]=car.urlImage class="carImage"></ion-img>

        </ion-card-header>
        <ion-card-content padding margin>
          <ion-card-title>{{car.marque}}</ion-card-title>
          <ion-badge> {{car.type}}  </ion-badge><br>
          <ion-label> {{car.prix}} Ar ou </ion-label>
          <ion-label>{{car.location}}  Ar/j</ion-label>
          <ion-buttons >
            <ion-button (click)="setCarAvailable(car)" shape="round" fill="outline" style="width: 100px" >Annuler</ion-button>
          </ion-buttons>

          <h2><b>Description</b></h2>
          <p text-left padding>
            {{car.description}}
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>

</ion-content>
