<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/car-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedCar.marque}}</ion-title>
    <ion-buttons *ngIf="getIsAuthAdmin()" slot="primary">
      <ion-button (click)="onDeleteCar()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="getIsAuthAdmin()" slot="primary">
      <ion-button (click)="setEditAction()">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!action">
    <ion-card-header no-padding>
      <ion-img [src]=loadedCar.urlImage class="carImage"></ion-img>
    </ion-card-header>
    <ion-card-content padding margin>
      <ion-badge>{{loadedCar.type}} </ion-badge><br>
      <ion-label>{{loadedCar.prix}} Ar ou </ion-label>
      <ion-label>{{loadedCar.location}} Ar/j</ion-label>
      <ion-buttons >
        <ion-button [disabled]="!authentifed()" (click)="setCarSold()" shape="round" fill="outline" style="width: 100px" >Acheter</ion-button>
        <ion-button shape="round" fill="outline" style="width: 100px" >Louer</ion-button>
      </ion-buttons>

      <h2><b>Description</b></h2>
      <p text-left padding>
        {{loadedCar.description}}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="action">
    <ion-card-header no-padding>
      <ion-img [src]="imageToUpload" class="carImage"></ion-img>
    </ion-card-header>
    <ion-card-content padding margin>
      <form (ngSubmit)="onSubmitUpdateUser(fRegister)" #fRegister="ngForm" >
        <ion-button style="width: 100%;">
          <ion-input type="file" accept="image/*" (change)="changeListener($event)" style="opacity: 0;position: absolute" >
          </ion-input>
          Image
          <ion-icon name="image"></ion-icon>
        </ion-button>

        <ion-list>
          <ion-item>
            <ion-input type="text"
                       placeholder="Type"
                       id="typeCar"
                       name="typeCar"
                       [(ngModel)]="loadedCar.type"
                       required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text"
                       placeholder="Marque"
                       id="marqueCar"
                       name="marqueCar"
                       [(ngModel)]="loadedCar.marque"
                       required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text"
                       placeholder="Prix"
                       id="prixCar"
                       maxlength="11"
                       name="prixCar"
                       [(ngModel)]="loadedCar.prix"
                       required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text"
                       placeholder="location"
                       id="locationCar"
                       name="locationCar"
                       [(ngModel)]="loadedCar.location"
                       required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text"
                       placeholder="description"
                       id="descriptionCar"
                       name="descriptionCar"
                       [(ngModel)]="loadedCar.description"
                       required>
            </ion-input>
          </ion-item>

        </ion-list>
        <ion-text color="danger" style="text-align: center">
          <!--p>{{ messageResponse() }}</p-->
          <p>Message Erreur</p>
        </ion-text>
        <ion-button type="submit"
                    style="width: 100%;"
                    [disabled]="fRegister.invalid"
                    class="btnRegister">
          <ion-icon name="return-right" class="iconRegister"></ion-icon>
          Enregistrer
        </ion-button>

      </form>
    </ion-card-content>
  </ion-card>


</ion-content>
