<ion-header>

  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-buttons  *ngIf="!getIsAuth()" slot="secondary"  routerLink="/login">
          <ion-button>
              <ion-icon slot="icon-only" name="contact"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-buttons *ngIf="getIsAuthAdmin()" slot="primary" routerLink="/car-add">
          <ion-button>
              <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-buttons *ngIf="!getIsAuth()" slot="primary">
          <ion-button (click)="presentPopover($event)">
              <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Voitures</ion-title>
  </ion-toolbar>
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngIf="cars?.length === 0" text-center> Il n'y a pas de voiture</div>
        <ion-item-sliding *ngFor="let car of cars" >
            <ion-item *ngIf="car.status === 'available'" [routerLink]="['./',car.id]" >
            <!--ion-item [routerLink]="['./',car.id]" -->
                <ion-thumbnail slot="start">
                    <img class="tsImg" [src]=car.urlImage>
                </ion-thumbnail>
                <p>{{car.marque}} à {{car.prix}} Ar</p>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option mode="ios">Acheter</ion-item-option>
                <ion-item-option mode="ios">Louer</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
