<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, nemo, rerum! Earum fugit nisi possimus quaerat quasi quia sequi similique? Cumque, ducimus esse facilis itaque praesentium sequi temporibus vero voluptates.
</ion-content>
