.form-error{
  margin-top: 2px;
  color: red;
  background-color: rgba(70,15,25,0.3);
}
.iconLogin{
  width: 25px;
  height: 25px;
  margin: 0px 5px 0px 5px;
}

.btnLogin{
  height: 35px;
}

#pwdShow:hover{
  color: rgba(0,0,0,0.4);
  width: 27px;
  height: 27px;
  // border-radius: 13px;
  // border: 1px solid red;
  cursor: pointer;
}