<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/car-list" routerLink="/car-list"></ion-back-button>
      </ion-buttons>
      <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center  >
    <ion-progress-bar *ngIf="loginError === loading" type="indeterminate"></ion-progress-bar>

    <!-- <p style="color: red;">ENVOYE DE DEVELOPPEMENT.<br> ICI QU'ON TRAVAIL</p>-->
  <form (ngSubmit)="onSubmitLogin(fLogin)" #fLogin="ngForm">
    <ion-list inset>

      <ion-item class="ion-no-padding">
        <ion-label floating><ion-icon name="contact" class="iconLogin"></ion-icon></ion-label>
        <ion-input type="text"
                   placeholder="example@example.com"
                   id="login"
                   name="login"
                   email
                   ngModel
                   required>
        </ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label floating><ion-icon name="lock" class="iconLogin"></ion-icon></ion-label>
        <ion-input [type]="passwordType"
                   placeholder="password"
                   id="mdp"
                   name="mdp"
                   minlength="6"
                   ngModel
                   required></ion-input>
        <ion-icon [name]="passwordIcon" item-right (click)="showHidePwd()" id="pwdShow"></ion-icon>

      </ion-item>
    </ion-list>
    <div padding-horizontal>
      <ion-text color="danger" style="text-align: center">
        <p>{{messageResponse()}}</p>
      </ion-text>
      <ion-button type="submit"
                  style="width: 100%;"
                  [disabled]="fLogin.invalid"
                  class="btnLogin">

        <ion-icon name="log-in" class="iconLogin"></ion-icon>
         Se connecter
      </ion-button>
      <div class="login-footer">
        <p>
          <!--<a href="#">Forgot password?</a>-->
          Vous êtes nouveau? Veuillez <a routerLink="/register">s'inscrire</a>.
        </p>
      </div>
      <ion-list>
        <div style="text-align: center;">
          <a routerLink="/register">
            <ion-button class="btnLogin">
              <ion-icon name="person-add" class="iconLogin"></ion-icon>
              S'inscrire
            </ion-button>
          </a>
        </div>
      </ion-list>
    </div>
  </form>
</ion-content>
