<ion-app>
  <ion-split-pane>

    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>

          <ion-menu-toggle>
            <img style="z-index: 11" src="../assets/img/logo.png">
            <!--ion-avatar routerLink="/user-profil" id="avatarMenu" item-start>
              <img src="../assets/img/autotractorHome.jpg" alt="">
            </ion-avatar-->
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="getIsAuth()">
            <ion-avatar routerLink="/user-profil" id="avatarMenu" style="border: 2px solid blue; padding: 2px;"  item-start>
              <ion-img style="z-index: 11" [src]="userConnectedPage.urlImage"></ion-img>
            </ion-avatar>
            <ion-item text-center style="margin-top: -50px;">
              {{userConnectedPage.name}} {{userConnectedPage.firstName}}
              - {{userConnectedPage.login}}
            </ion-item>
          </ion-menu-toggle>


          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" style="cursor: pointer;" (click)="logoutUser()">
            <ion-item>
              <ion-icon slot="start" name="log-out" ></ion-icon>
              <ion-label>
                Deconnexion
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main ></ion-router-outlet>

  </ion-split-pane>
</ion-app>
