a{
  text-decoration: none;
  color: black;
}
.iconRegister{
  width: 25px;
  height: 25px;
  margin: 0px 5px 0px 5px;
}

.btnRegister{
  height: 35px;
}

.pwdShow:hover{
  color: rgba(0,0,0,0.4);
  width: 27px;
  height: 27px;
  // border-radius: 13px;
  // border: 1px solid red;
  cursor: pointer;
}
ion-avatar{
  width: 120px;
  height: 115px;
  margin: auto;
  margin-top: 30px;
  z-index: 1;
}
