<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login" routerLink="/login"></ion-back-button>
      </ion-buttons>
      <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>
<ion-progress-bar *ngIf="RegisterError === loading" type="indeterminate"></ion-progress-bar>
<ion-content>
    <!--ion-progress-bar *ngIf="RegisterError === loading" type="indeterminate"></ion-progress-bar-->
    <ion-avatar *ngIf="imageToUpload" item-start>
        <img [src]="imageToUpload" >
    </ion-avatar>
    <form (ngSubmit)="onSubmitRegister(fRegister)" #fRegister="ngForm">
        <ion-list inset>
            <ion-item class="ion-no-padding">
                <ion-input type="text"
                           placeholder="Nom"
                           id="nameUser"
                           name="nameUser"
                           ngModel
                           required>
                </ion-input>
            </ion-item>

            <ion-item class="ion-no-padding">
                <ion-input type="text"
                           placeholder="Prénom(s)"
                           id="firstNameUser"
                           name="firstNameUser"
                           ngModel
                           >
                </ion-input>
            </ion-item>

            <ion-item class="ion-no-padding">
                <ion-input type="text"
                           placeholder="N° Carte d'Identité National"
                           pattern="([0-9]{12})"
                           id="cinUser"
                           name="cinUser"
                           minlength="12"
                           maxlength="12"
                           ngModel
                           required>
                </ion-input>
            </ion-item>


            <ion-radio-group (ionChange)="setSexeValue($event)">
                <ion-list-header>
                    <ion-label>Sexe</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-icon name="male" style="margin-right: 30px;"></ion-icon>
                    <ion-label>Masculin</ion-label>
                    <ion-radio slot="start" value="Masculin" checked></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-icon name="female" style="margin-right: 30px;"></ion-icon>
                    <ion-label>Feminin</ion-label>
                    <ion-radio slot="start" value="Feminin"></ion-radio>
                </ion-item>
            </ion-radio-group>

            <ion-item class="ion-no-padding">
                <ion-label floating><ion-icon name="contact" class="iconRegister"></ion-icon></ion-label>
                <ion-input type="text"
                           placeholder="example@example.com"
                           id="loginUser"
                           name="loginUser"
                           email
                           ngModel
                           required>
                </ion-input>
            </ion-item>

            <ion-item class="ion-no-padding">
                <ion-label floating><ion-icon name="pin" class="iconRegister"></ion-icon></ion-label>
                <ion-input type="text"
                           placeholder="votre addresse"
                           id="addressUser"
                           name="addressUser"
                           ngModel
                           required>
                </ion-input>
            </ion-item>

            <ion-item class="ion-no-padding">
                <ion-label floating><ion-icon name="lock" class="iconRegister"></ion-icon></ion-label>
                <ion-input [type]="passwordType"
                           placeholder="mot de passe"
                           id="mdpUser"
                           name="mdpUser"
                           minlength="6"
                           ngModel
                           required></ion-input>
                <ion-icon [name]="passwordIcon" item-right (click)="showHidePwd()" class="pwdShow"></ion-icon>
            </ion-item>

            <ion-item class="ion-no-padding">
                <ion-label floating><ion-icon name="lock" class="iconRegister"></ion-icon></ion-label>
                <ion-input [type]="cpasswordType"
                           placeholder="confirmé mot de passe"
                           id="cmdpUser"
                           name="cmdpUser"
                           minlength="6"
                           ngModel
                           required></ion-input>
                <ion-icon [name]="cpasswordIcon" item-right (click)="showHideCPwd()" class="pwdShow"></ion-icon>
            </ion-item>

        </ion-list>

        <div padding-horizontal>
            <ion-text color="danger" style="text-align: center">
                <p>{{ messageResponse() }}</p>
            </ion-text>
            <ion-button type="submit"
                        style="width: 100%;"
                        [disabled]="fRegister.invalid"
                        class="btnRegister"
            >
                <ion-icon name="return-right" class="iconRegister"></ion-icon>
                Envoyer
            </ion-button>
        </div>
    </form>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
        <ion-input type="file" accept="image/*" (change)="changeListener($event)" style="opacity: 0;position: absolute" >
        </ion-input>
        <ion-icon name="image"></ion-icon>
    </ion-fab-button>
</ion-fab>

