<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/car-list" routerLink="/car-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter Voiture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header no-padding>
      <img *ngIf="!imageToUpload" src="../../../assets/img/logo.png" class="carImage">
      <ion-img *ngIf="imageToUpload" [src]="imageToUpload" class="carImage"></ion-img>
    </ion-card-header>
    <ion-card-content padding margin>
      <form (ngSubmit)="onSubmitRegister(fRegister)" #fRegister="ngForm" >
        <ion-button style="width: 100%;">
          <ion-input type="file" accept="image/*" (change)="changeListener($event)" style="opacity: 0;position: absolute" >
          </ion-input>
          Image
          <ion-icon name="image"></ion-icon>
        </ion-button>

        <ion-list>
          <ion-item>
            <ion-input type="text"
                       placeholder="Type"
                       id="typeCar"
                       name="typeCar"
                       ngModel
                       required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text"
                       placeholder="Marque"
                       id="marqueCar"
                       name="marqueCar"
                       ngModel
                       required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text"
                       placeholder="Prix"
                       id="prixCar"
                       maxlength="11"
                       name="prixCar"
                       ngModel
                       required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text"
                       placeholder="location"
                       id="locationCar"
                       name="locationCar"
                       ngModel
                       required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text"
                       placeholder="description"
                       id="descriptionCar"
                       name="descriptionCar"
                       ngModel
                       required>
            </ion-input>
          </ion-item>

        </ion-list>
        <ion-text color="danger" style="text-align: center">
          <!--p>{{ messageResponse() }}</p-->
          <p>Message Erreur</p>
        </ion-text>
        <ion-button type="submit"
                    style="width: 100%;"
                    [disabled]="fRegister.invalid"
                    class="btnRegister">
          <ion-icon name="return-right" class="iconRegister"></ion-icon>
          Enregistrer
        </ion-button>

      </form>
    </ion-card-content>
  </ion-card>


</ion-content>
